{% extends"base.html.twig" %}

{% block header %}
    <button id="burger-menu" data-toggle="burger-nav" class="burger-menu-button">
        <span class="burger-menu-button-open">Menu</span>
    </button>
    <nav id="burger-nav" class="main-menu">
        <ul class="menu">
            <li><a href="/"><span class="iconify" data-inline="false" data-icon="ant-design:home-filled"></span></a></li>
            <li><a href="#"><span class="iconify" data-inline="false" data-icon="fa-solid:shopping-basket" ></span></a></li>
            {#<li><a href="#"><span class="iconify" data-inline="false" data-icon="bi:gear-fill"></span></a></li>#}
            <li><a href="#"><span class="iconify" data-inline="false" data-icon="carbon:user-avatar-filled"></span></a></li>
        </ul>
    </nav>
{% endblock %}