@import '../Utils/mixin';
@import '../Utils/variables';

.tabBarMenuContainer {
  //@include flexBoxRowSpaceEvenly;
  @include flexBoxRowSpaceAround;
  margin-top: 5px;
}
.iconBox {
  @include flexBoxRowFlexStart;
  width:25%;
  &__burgerMenu {
    margin-left: 5px;
  }
  &__homeMenu {
    @include flexBoxRowJustifyCentering;
  }
  &__basketMenu {
    @include flexBoxRowJustifyCentering;
  }
  &__myAccount {
    @include flexBoxRowFlexEnd;
    margin-right: 10px;
  }
}

