{% extends "header/header.html.twig" %}

{% block title %}Home {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/karotte/public/assets/css/main.css">
{% endblock %}

{% block body %}
    <h1>Bienvenue sur Karotte</h1>

{% endblock %}