{% extends "header/header.html.twig" %}

{% block title %}Home {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/karotte/public/assets/css/main.css">
{% endblock %}

{% block body %}
    {#<h1>Bienvenue sur Karotte</h1>#}

    <div id ="map"></div>
    <div id="overMapContainer">
        <header>
            <button id="burger-menu" data-toggle="burger-nav" class="burger-menu-button">
                <span class="burger-menu-button-open"></span>
            </button>
            <nav id="burger-nav" class="main-menu">
                <ul class="menu">
                    <li><a href="#"><span class="iconify" data-inline="false" data-icon="ant-design:home-filled"></span></a></li>
                    <li><a href="#"><span class="iconify" data-inline="false" data-icon="fa-solid:shopping-basket" ></span></a></li>
                    <li><a href="#"><span class="iconify" data-inline="false" data-icon="bi:gear-fill"></span></a></li>
                    <li><a href="#"><span class="iconify" data-inline="false" data-icon="carbon:user-avatar-filled"></span></a></li>
                </ul>
            </nav>
        </header>
        {#<div class="main">
            <div class="widgetContainer SellerCarousel">
                <h2>Liste des Vendeurs autour de vous </h2>
                <div class="SellerList">
                    {% for seller in sellerList %}
                        <p>{{ seller['SELL_NAME'] }}</p>
                    {% endfor %}
                </div>

            </div>
        </div>#}

    </div>

{% endblock %}

{% block javascript %}


{% endblock %}

