{% extends "layoutMapAndMenu.html.twig" %}

{#{% block title %}Home {{ parent() }}{% endblock %}#}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block leftContent %}
    {#<h1>Bienvenue sur Karotte</h1>#}
    <div id="sellerList" class="widgetContainer SellerCarousel">
        <div class="title-SellerList">
            <h2>Producteurs près de chez vous</h2>
        </div>
{#
        TEST FUNCTION PRODUCTMODEL
        <div class="form">
            <form method="post" action="/map/addProduct" enctype="multipart/form-data">
                <input name="PROD_PICT" type="file">
                <input type="submit" value="ok">
            </form>
        </div>#}
        <div class="seller-cards">
            {% for seller in sellerList %}
                <div class="seller-card">
                    <div class="seller-card__image">
                        <img class="seller-card__thumb" src="/assets/img/img1.jpg">
                    </div>
                    <div class="seller-card__resume">
                        <h3><a href="/Seller/GetSellerById/{{ seller.SELL_ID }}">{{ seller['SELL_NAME'] }}</a></h3>
                        <div class="seller-card__rate">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                        </div>
                        <div class="seller-card__tag">
                            <ul>
                                <li>Légumes</li>
                                <li>Bio</li>
                                <li>Permaculture</li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block rightContent %}
{% endblock %}

{% block javascript %}
{% endblock %}