{% extends"base.html.twig" %}

{% block map %}
    <div id ="map"></div>

    <div class="widgetContainer SellerCarousel">
        <h2>Liste des Vendeurs autour de vous </h2>
        <div class="SellerList">
            {% for seller in sellerList %}
                <p>{{ seller['SELL_NAME'] }}</p>
            {% endfor %}
        </div>

    </div>
{% endblock %}