@import "../Utils/mixin";
@import "../Utils/variables";

.blackBlock{
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
  &__basket {
    grid-area: 1/1/12/12;
  }
}
/*
.blackBlock__register {
  position: absolute;
  z-index: 2;
}
.blackBlock__basket {
  position: absolute;
  grid-area: 1/1/12/12;
  z-index: 2;
}*/