@import "../Utils/mixin";
@import "../Utils/variables";

/* ------ SELLER LIST ------ */
#sellerList{
  background-color:$breakingWhite;
  text-align: center;
  padding-bottom: 25px;
  &::-webkit-scrollbar {
    display: none;
  }
  .title-SellerList{
    & h2 {
      border-bottom:3px solid $primaryColor;
    }
  }
  h2 {
    color: $secondColor;
    font-size: 1.3em;
    font-weight: bold;
  }
  h3{
    margin-top: 0;
    a{
      text-decoration: none;
      color: $primaryColor;
    }
  }
}

@media only screen and (max-width: 768px) {
  #sellerList {
    @include flexBoxColumn;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: auto;
    height: 25vh;
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 992px) {
  #sellerList{
    grid-row: 2;
    grid-column: 1;
    background-color: $breakingWhite;
    text-align: center;
    padding-bottom: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    .title-SellerList{
      @include flexBoxRowJustifyCentering;
      align-items: center;
      margin: 30px 0;
      & h2 {
        border-bottom:3px solid $primaryColor;
      }
    }
    h2 {
      color: $secondColor;
      font-size: 1.3em;
      font-weight: bold;
    }
    h3{
      margin-top: 0;
      a{
        text-decoration: none;
        color: $primaryColor;
      }
    }
  }
}