@import '../Utils/mixin';
@import '../Utils/variables';

.primaryContainer {
  overflow-x: hidden;
  overflow-y: auto;
  width: auto;
  height: 100vh;
  &__background{
    &--color{
      background-color: $primaryColor;
    }
  }
  &::-webkit-scrollbar{
    display: none;
  }
}

@media only screen and(max-width: 768px) {
  .primaryContainer {
    width: 100%;
  }
}