<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/assets/css/errorStylus.css">
    <title>404 - ERROR </title>
</head>
<body>
    <div class="primaryContainer">
        <div class="errorContainer errorContainer__image--backgroundImage">
            <div class="imgContainer">
                <div class="imgBox imgBox__image--size">
                    <p>404</p>
                </div>
            </div>
            <div class="msgContainer">
                <div class="msgBox">
                    <p>Ooups... Il semblerait que notre karotte est été légèrement retenue ailleurs, veuillez réessayer ultérieurement.</p>
                </div>
            </div>
        </div>
    </div>
</body>