$primaryColor:#BB4EB;
$secondColor:#6B8954;


//variables about the font-size
$mainSize:14px;
$titleSizeHandy:1.4em;
$bigButtonFont: 1.2em;


//variables about height size
$shortHandySize:25px;
$mediumHandySize:35px;
$highHandySize:50px;


//variables about size of input
$halfWidthSize:50%;
$highWidthSize:85%;
$veryHighWidthSizePX:50px;