body {
  margin: 0;
}

*,
* before::after {
  box-sizing: border-box;
}

.totalBasketBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
}

.totalTitle p {
  font-size: 1.8em;
  font-weight: bold;
  background-color: #BB4E0B;
  color: #FBFCFC;
  margin-left: 50px;
}

.totalPrice p {
  font-weight: bold;
  font-size: 1.8em;
  color: #BB4E0B;
  margin-right: 50px;
}

.basketInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}

.orderBasket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
  width: 50%;
  height: 50%;
}
.orderBasket a {
  font-size: 1.8em;
  font-style: italic;
  color: #FBFCFC;
  background-color: #6B8954;
  text-decoration: none;
}
.orderBasket a:hover {
  background-color: #FBFCFC;
  color: black;
  text-decoration: 2px solid #BB4E0B;
}

.basketContainer {
  grid-area: 2/2/11/11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}
.basketContainer::-webkit-scrollbar {
  display: none;
}

.basketBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBFCFC;
  z-index: 3;
  border: 1px solid #BB4E0B;
  border-radius: 45px;
}

.basketTitle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  margin-left: 15%;
}

@media only screen and (max-width: 768px) {
  .basketContainer {
    width: 100%;
    height: 100%;
  }

  .basketGrid {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh;
  }

  .basketBox {
    width: 100%;
    height: 85%;
  }

  .basketTitle {
    height: 15%;
  }
}
@media only screen and (min-width: 768px) {
  .basketGrid {
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
  }

  .basketBox {
    width: 85%;
    height: 85%;
  }

  .basketTitle {
    height: 25%;
  }
}
.titleBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 3px solid #BB4E0B;
}
.titleBox h2 {
  font-size: 1.3em;
}
.titleBox h2 span {
  font-style: italic;
  color: #BB4E0B;
}

@media only screen and (max-width: 768px) {
  .titleBox {
    width: 85%;
    height: auto;
  }
  .titleBox h1 {
    font-size: 1.1em;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) {
  .titleBox {
    height: 100px;
  }
  .titleBox h1 {
    font-weight: bold;
  }
  .titleBox h2 h1 {
    font-size: 1.8em;
  }
}
.basketContentBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
  background-color: #FBFCFC;
  overflow-x: hidden;
  overflow-y: auto;
}
.basketContentBox::-webkit-scrollbar {
  display: none;
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 100%;
  height: auto;
}

.getInfoBasket {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.infoBasket {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.contentBasket {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #B0FBD0;
  width: 100%;
  height: auto;
  border: 1px solid #FBBB6E;
  margin-top: 10px;
  margin-bottom: 15px;
}

.productBox {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  border-left: 1px solid #FBBB6E;
}

.infoProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50px;
}

@media only screen and (max-width: 768px) {
  .basketContentBox {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .basketContentBox {
    width: 90%;
  }
}
.blackBlock {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .blackBlock__basket {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .blackBlock__basket {
    grid-area: 1/1/12/12;
  }
}
.productCode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100%;
}
.productCode p {
  font-weight: bold;
}

.productName p {
  font-weight: bold;
  color: black;
}

.productSeller p {
  font-weight: bold;
  font-style: italic;
  color: #6B8954;
  text-decoration: 1px underline #BB4E0B;
}

.productSinglePrice p {
  font-style: italic;
  color: #BB4E0B;
}

.productBasketTotalPrice p {
  font-weight: bold;
  text-decoration: 2px underline #BB4E0B;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 1.1em;
  }
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 1.4em;
  }
}
.tabBasket {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 20px;
}

.basketTitleTab {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.basketTitleTab thead {
  width: 100%;
  height: auto;
}
.basketTitleTab thead th {
  width: 15%;
}

.odd {
  background-color: #BB4E0B;
}

.even {
  background-color: #FBBB6E;
}

.quantityBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 35px;
}

.formProductBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.formProductBox input {
  width: 80%;
  height: 80%;
  border: 1px solid black;
  border-radius: 45px;
  font-weight: bold;
  padding-left: 25px;
}

.addButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.addButton button {
  width: 70%;
  height: 80%;
  border: 1px solid #BB4E0B;
  border-radius: 45px;
  background-color: #6B8954;
  color: #FBFCFC;
  font-weight: bold;
}

.validateBtn {
  width: 50%;
  height: 50%;
  margin-left: 50px;
}
.validateBtn button {
  width: 80%;
  height: 80%;
  border: 1px solid black;
  border-radius: 45px;
  background-color: #BB4E0B;
  color: #FBFCFC;
  font-size: 1.8em;
}
.validateBtn button:hover {
  background-color: #6B8954;
}

/*# sourceMappingURL=basketStylus.css.map */
