/* Error: Expected identifier.
 *     ,
 * 105 |   height: 100%;
 *     |                ^
 *     '
 *   public\assets\sass\connectionStyle.css 105:16  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected identifier.\a     \2577 \a 105 \2502    height: 100%;\d\a     \2502                 ^\a     \2575 \a   public\\assets\\sass\\connectionStyle.css 105:16  root stylesheet";
}
