@charset "UTF-8";
.main {
  display: grid;
  grid-template-columns: 480px auto;
  grid-template-rows: 80px auto;
  height: 100vh;
}

/* ------ SELLER LIST ------ */
#sellerList {
  grid-row: 2;
  grid-column: 1;
  background-color: white;
  text-align: center;
  /* --- SELLER CARD ---*/
}
#sellerList .title-SellerList {
  margin: 30px 0;
}
#sellerList h2 {
  color: #6B8954;
  font-size: 1.3em;
  font-weight: bold;
}
#sellerList h3 {
  margin-top: 0;
}
#sellerList h3 a {
  text-decoration: none;
  color: #bb4e0b;
}
#sellerList .seller-cards {
  display: grid;
  grid-auto-rows: minmax(80px, auto);
  row-gap: 2em;
  margin: 0 20px;
}
#sellerList .seller-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#sellerList .seller-card .seller-card__image, #sellerList .seller-card .seller-card__thumb {
  max-width: 100%;
  max-height: 100%;
}
#sellerList .seller-card .seller-card__rate {
  margin-top: 30px;
  color: #6b8954;
}
#sellerList .seller-card .seller-card__tag {
  font-size: 12px;
  color: #6b8954;
  position: relative;
  top: 50px;
}
#sellerList .seller-card .seller-card__tag ul {
  list-style-type: none;
  padding: 0;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.checked {
  color: #bb4e0b;
}

/* ------ RIGHT CONTAINER ------ */
#map {
  height: 100vh;
  grid-column: 2;
}

/* ------ SELLER PAGE ------ */
.sellerPage {
  background-color: white;
  border-left: #bb4e0b solid thick;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0fr 0fr 1fr;
}
.sellerPage .seller-page__name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: center;
  padding: 5px;
}
.sellerPage .seller-page__name h2 {
  font-size: 1.5em;
}
.sellerPage .seller-page__resume {
  grid-row: 2;
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: 3em auto;
  padding: 5px;
}
.sellerPage .seller-page__rate {
  color: #6b8954;
  grid-column: 1;
}
.sellerPage .seller-page__tag {
  grid-column: 2;
  color: #6b8954;
}
.sellerPage .seller-page__tag ul {
  display: flex;
  column-gap: 1em;
}
.sellerPage .seller-page__info {
  grid-column: span 2;
  display: flex;
  flex-flow: column;
  height: auto;
}
.sellerPage .seller-page__info span {
  margin: 0 5px;
}
.sellerPage .seller-page__info .iconify {
  font-size: 1.5em;
  margin: 0 5px 0 0;
}
.sellerPage .seller-page__info .seller-page__info-userAddress {
  display: flex;
  flex-direction: column;
  margin: 0 5px;
}
.sellerPage .seller-page__info .seller-page__info-userPhone {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
}
.sellerPage .seller-page__info .seller-page__info-sellerDescription {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 5px;
}

.seller-page-productList {
  grid-row: 3;
  grid-column: span 5;
  display: grid;
  row-gap: 5em;
  padding: 20px 0;
}

.seller-page-productList-cards {
  display: grid;
  grid-template-columns: repeat(1, min-content);
  grid-auto-rows: auto;
  column-gap: 1em;
  row-gap: 1em;
}

.seller-page-product-cards__category {
  font-size: 25px;
  margin-bottom: 20px;
}

/* ------ PRODUCT CARD ------ */
.seller-page-product-card {
  /*border: solid 0.2em black;*/
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 165px;
}
.seller-page-product-card .seller-page-product-card__image {
  width: auto;
  height: 100%;
  margin-right: 10px;
}
.seller-page-product-card .seller-page-product-card__image img {
  width: auto;
  height: 100%;
}
.seller-page-product-card .seller-page-product-card__info {
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: 130px auto;
  column-gap: 1em;
  row-gap: 1em;
}
.seller-page-product-card .seller-page-product-card__info input {
  width: 100%;
}
.seller-page-product-card .seller-page-product-card__info h3 {
  font-size: 2em;
  grid-row: 1;
}
.seller-page-product-card .seller-page-product-card__info .seller-page-product-description {
  grid-row: 2;
  grid-column: span 2;
}
.seller-page-product-card .seller-page-product-card__info .seller-page-product-card__price {
  font-size: 1.2em;
  font-weight: bold;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller-page-product-card .seller-page-product-card__info .seller-page-product-card__price::after {
  content: "€";
}
.seller-page-product-card .seller-page-product-card__info .seller-page-product-card__quantity {
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seller-page-product-card .seller-page-product-card__info .seller-page-product-card__button {
  grid-column: 2;
  grid-row: 3;
  min-width: 50px;
  min-height: 30px;
  width: 50%;
  height: 50%;
}

/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1200px) {
  .seller-page__info-userAddress {
    flex-direction: row !important;
    align-items: center;
  }
}
/* Extra large devices (large laptops and desktops, 1500px and up) */
@media only screen and (min-width: 1500px) {
  .seller-page-productList-cards {
    grid-template-columns: repeat(2, min-content);
  }
}

/*# sourceMappingURL=main.css.map */
