
#map{
    positon : absolute;
    top: 0;
    left : 0;
    height: 100vh;
    z-index: 1;
}

#overMapContainer{
    visibility: hidden;
    z-index: 2;
    position : absolute;
    top : 0;
    left:0;
    height: 100vh;
    width:100vw;
}

.widgetContainer{
    background-color: white;
}

p{
    color:black;
    font-family: Algerian;
}
