<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!--link rel="stylesheet" type="text/css" href="/assets/css/registerStyle.css"-->
    <!--link rel="stylesheet" type="text/css" href="../../public/assets/css/registerStyle.css"-->
    <title>ENREGISTREMENT - Mon Magasin</title>
</head>
<body>
    <div class="primaryContainer">
        <div class="headerBox">
            {% include 'header/headerView.html.twig' %}
        </div>
        <div class="infoContainer">
            {% for itemSeller in sellerItems %}
            <div class="itemBox">
                <div class="labelBox">
                    <label>Votre {{ itemSeller }}</label>
                </div>
                <div class="inputBox">
                    <input class="inputField" name={{ itemSeller }} required>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>