@import '../Utils/mixin';
@import '../Utils/variables';


.myAccountBox{
  @include flexBoxRowJustifyCentering;
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
}
.myAccountBtn {
  @include flexBoxRowJustifyCentering;
  align-items: center;
}

@media only screen and(max-width: 768px) {
  .myAccountBox {
    @include flexBoxRowJustifyCentering;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}