@import "../Utils/mixin";
@import "../Utils/variables";

.formBox {
  @include flexBoxColumn;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.formContainer {
  @include flexBoxColumn;
  align-items: center;
  width: 100%;
}

@media only screen and(max-width:768px) {
  .formContainer{
    height: 100vh;
  }
}
@media only screen and (min-width: 768px){
  .formContainer {
    height: 100%;
    justify-content: space-evenly;
  }

}