@import "../Utils/mixin";
@import "../Utils/variables";

.titleBox {
  @include flexBoxRowJustifyCentering;
  width: 85%;
  height: 100px;
  align-items: center;
  border-bottom: 3px solid $primaryColor;
    & h2 {
      font-size: 1.3em;
      & span {
        font-style: italic;
        color:$primaryColor;
      }
    }
}

@media only scree and(max-width:768px) {

}
@media only screen and(min-width: 768px) {
  .titleBox {
    & h2 {
      font-size:$veryHighTextSize ;
    }
  }
}