@import "../Utils/mixin";
@import "../Utils/variables";

.titleBox {
  @include flexBoxRow;
  justify-content: flex-start;
  width: 85%;
  align-items: center;
  border-bottom: 3px solid $primaryColor;
    & h2 {
      font-size: 1.3em;
      & span {
        font-style: italic;
        color:$primaryColor;
      }
    }
}
@media only screen and(max-width:768px) {
  .titleBox {
    height: auto;
    & h1 {
      font-size:1.1em;
      font-weight: bold;
    }
  }
}
@media only screen and(min-width: 768px) {
  .titleBox {
    height: 100px;
    & h1 {
      font-weight: bold;
    }
    & h2 h1 {
      font-size:$veryHighTextSize;
    }
  }
}