@import "../Utils/mixin";
@import "../Utils/variables";

.validateBtn {
  width: 50%;
  height: 50%;
  margin-left: 50px;
  & button {
    width: 80%;
    height: 80%;
    border:1px solid black;
    border-radius:$quarterRadius;
    background-color:$primaryColor;
    color:$breakingWhite;
  }
  & button:hover {
    background-color:$secondColor;
  }
}
@media only screen and(max-width: 768px){
  .validateBtn {
    & button {
      font-size:$bigButtonFont;
    }
  }
}
@media only screen and(min-width: 769px) {
  .validateBtn {
    & button {
      font-size:$veryHighTextSize;
    }
  }
}