@import "../Utils/mixin";
@import "../Utils/variables";
@import "../Layout/totalBasket";
@import "../Layout/basketInfo";

.basketContainer {
  grid-area: 2/2/11/11;
  @include flexBoxColumnJustifyCentering;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.basketBox {
  @include flexBoxColumn;
  align-items: center;
  background-color:$breakingWhite;
  z-index: 3;
  border: 1px solid $primaryColor;
  border-radius:$quarterRadius;
}
.basketTitle {
  @include flexBoxRow;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  margin-left: 15%;
}
.crossCloseBox {
  @include flexBoxRowJustifyCentering;
  align-items: start;
  width: 20%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .basketContainer {
    width: 100%;
    height: 100%;
  }
  .basketGrid {
    @include flexBoxColumn;
    width: auto;
    height: 100vh;
  }
  .basketBox {
    width: 100%;
    height: 85%;
  }
  .basketTitle{
    height: 15%;
  }
}
@media only screen and (min-width: 768px) {
  .basketGrid {
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
  }
  .basketBox {
    width: 85%;
    height: 85%;
  }
  .basketTitle {
    height: 25%;
  }
}