@import "../Utils/mixin";
@import "../Utils/variables";

/* Background seller - size of all screen */
#map{
  positon : absolute;
  top: 0;
  left : 0;
  height: 100vh;
  z-index: 1;
}

/* Main covering the seller to allow placing element over the seller*/
#overMapContainer{
  pointer-events: none; /*To click on the seller through the container*/
  z-index: 2;
  position : absolute;
  top : 0;
  left:0;
  height: 100vh;
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.main>*,header{
  pointer-events: all; /*The header and everything in the main is clickable */
}
.main{
  flex:1;
}
#overMapContainer{
  display : flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}