@import '../Utils/mixin';
@import '../Utils/variables';

.registerContainer {
  overflow-x: hidden;
  overflow-y: auto;
  width: auto;
  height: max-content;
  @include flexBoxColumn;
  &::-webkit-scrollbar{
    display: none;
  }
}
.registerTitleBox {
  @include flexBoxRowJustifyCentering;
  width: auto;
  height: 7vh;
}
.registerTitle {
  @include titleManagement;
  width: auto;
  height: 100%;
  :hover{
    color: $secondColor;
  }
}
.formContainer {
  @include flexBoxRow;
  width: auto;
  height: 100%;
}
.itemsFormContainer {
  @include flexBoxColumn;
  width: auto;
  height: 100%;
}
.itemsListBox {
  width: auto;
  height: 75%;
  @include flexBoxColumnJustifyCentering;
}
.itemBox {
  @include flexBoxRowJustifyCentering;
  width: auto;
  margin-bottom: 30px;
  margin-top: 10px;
}
.item{
  @include flexBoxRow;
  justify-content: center;
  width: 100%;
  height: 100%;
  & input {
    //background-color: white;
    width: 85%;
    color: grey;
    @include borderRadiusQuarter;
    transition: background-color 500ms;
    &:focus {
      background-color: $thirdColor;
      border: 2px solid darkblue;
    }/*
    &:not(:focus):invalid {
      background-color: red;
      color: white;
      border: 2px solid darkred;

    }*/
  }
}
.subtitleRegister{
  @include titleManagement;
  width: auto;
  height: 100%;
}
.choicesListBox{
  @include flexBoxRow;
  justify-content: space-evenly;
}
.choiceBox {
  @include flexBoxColumn;
  justify-content: space-evenly;
  width: 45%;
  height: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
  &__border{
    &--backgroundColor{
      background-color: #6B8954;
    }
    &--borderRadius{
      @include borderRadiusQuarter;
    }
  }
}
.choiceTitle {
  @include flexBoxRowJustifyCentering;
  &__title{
    &--titleSize{
      font-weight: bold;
    }
  }
}
.choiceSwitch {
  @include flexBoxRowJustifyCentering;
}
.cguBox {
  @include flexBoxRow;
  justify-content: space-evenly;
}
.checkBoxContainer {
  width: 25%;
  height: auto;
  @include flexBoxRowJustifyCentering;
  align-items: center;
}
.labelBox {
  width: 75%;
  height: auto;
  @include flexBoxRowJustifyCentering;
  align-items: center;
}
.buttonBox {
  @include flexBoxRowJustifyCentering;
  width: 90%;
  height: auto;
}
.buttonBox {
  @include flexBoxRowJustifyCentering;
  transition-property: transform;
  transition-duration: 400ms;
  & button {
    width: 100vw;
    background-color: $secondColor;
    @include fontStyleButton;
    border: 1px solid black;
    &:focus{
      border: 1px solid red;
    }
    &:hover {
      transform: scale(1.1);
      background-color: $thirdColor;
    }
  }
}
