@import '../Utils/mixin';
@import '../Utils/variables';

@media only screen and (max-width:600px){
  .primaryContainer {
    @include flexBoxColumnJustifyCentering;
    width: auto;
    height: 100vh;
  }
  .itemBox{
    height: $highHandySize;
  }
  .item{
    //width: $highWidthSize;
  }
  .choiceBox{
    height: $mediumScreenSize;
    width: 33%;
  }
  .buttonBox button{
    height: $veryHighWidthSizePX;
  }
  .choiceTitle {
    &__title{
      &--titleSize{
        font-size:$bigButtonFont;
      }
    }
  }
}
@media only screen and (min-width:600px){

}
@media only screen and (min-width:768px){

}
@media only screen and (min-width:992px){
  .itemBox {
    height: $mediumScreenSize;
  }
  /*
  .item{
    //width: $ultraHighScreenWidthSize;
  }
  .item input {
    width: $ultraHighScreenWidthSize;
  }*/
  .choiceBox {
    height: $superHighScreenSize;
  }
  .choiceTitle {
    &__title{
      &--titleSize{
        font-size:$veryHighTextSize;
      }
    }
  }
  .cguBox {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .checkBoxContainer input {
    width: 25px;
    height: 25px;
  }
  .labelBox {
    font-size: 1.3em;
  }
  .buttonBox button{
    width: 85%;
    height: $smallScreenWidthSize;
    margin-bottom: 50px;
    @include borderRadiusQuarter;
    font-size: 1.6em;
  }
}
@media only screen and (min-width:1200px){

}