@import "../Utils/variables";
@import "../Utils/mixin";


.primaryContainer {
  position: absolute;
  z-index: 1;
  @include flexBoxRowJustifyCentering;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.headConnection {
  @include flexBoxRow;
  width: 100%;
  background-color: $secondColor;
  border-bottom: 2px solid black;
}
.mainContainer {
  position: absolute;
  z-index: 3;
  width: 75%;
  height: 75vh;
  @include flexBoxColumn;
  justify-content: space-evenly;
  &__background {
    &--backgroundColor {
      background-color: $primaryColor;
    }
  }
}
.crossCloseBox {
  @include flexBoxRowJustifyCentering;
  align-items: center;
  width: 20%;
}
.titleBoxRegisterSeller {
  @include flexBoxRowJustifyCentering;
  width: 80%;
  height: 100%;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 45px;
  background-color: $secondColor;
  & h2 {
    font-size: $veryHighTextSize;
    font-weight: bold;
    color: white;
  }
}
.infoContainer {
  @include flexBoxColumn;
  width: auto;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}
.formBoxClass {
  @include flexBoxColumn;
  justify-content: space-evenly;
  width: auto;
  height: 100%;
}
.okButton {
  @include flexBoxRowJustifyCentering;
  width: auto;
  padding-bottom: 35px;
  & button {
    width: 50%;
    height: 50px;
    background-color: $secondColor;
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    border: 1px solid black;
    border-radius: $quarterRadius;
  }
}
@media only screen and (max-width:768px){
  .primaryContainer {
    height: 100%;
    position: relative;
    z-index: 0;
  }
  .blackBlock {
    display: none;
  }
  .mainContainer {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
  }
  .headConnection{
    border-top: 2px solid black;
  }
  .titleBoxRegisterSeller {
    width: 90%;
  }
  .infoContainer {
    padding-top: 100px;
  }
}