@import "../Utils/mixin";
@import "../Utils/variables";
@import "../Utils/variables";
@import "../Base/bodyStyle";
@import "../Base/boxSizingStyle";
@import "../Composants/titleBoxStyle";
@import "../Layout/blackBlock";
@import "../Pages/sellerProfilePage";

.seller{
  overflow-x: auto;
  padding: 25px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  &::-webkit-scrollbar {
    display: none;
  }
  &-page {
    &__name {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-content: center;
      padding: 5px;
      & h2 {
        font-size: 1.5em;
      }
    }
    &__resume {
      grid-row: 2;
      grid-column: span 2;
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: 3em auto;
      padding: 5px;
    }
    &__rate {
      color: $secondColor;
      grid-column: 1;
    }
    &__tag{
      grid-column: 2;
      color: $secondColor;
      & ul {
        display: flex;
        column-gap: 1em;
      }
    }
    &__info {
      grid-column: span 2;
      display: flex;
      flex-flow: column;
      height: auto;
      & span {
        margin : 0 5px;
      }
    }
  }
}
.sellerGrid {
  display: grid;
  position:relative;
  width:100%;
}
.sellerContainer {
  @include flexBoxColumnJustifyCentering;
  align-items: center;
}
.sellerBox {
  @include flexBoxColumn;
  align-items: center;
  justify-content: flex-start;
  background-color:$breakingWhite;
  width: 85%;
  height: 85vh;
  z-index: 3;
  border: 1px solid $primaryColor;
  border-radius:$quarterRadius;
}
.sellerTitle {
  @include flexBoxRow;
  justify-content: flex-start;
  align-items: baseline;
  width: 100%;
  height: 25%;
  margin-left: 15%;
}

.iconify{
  font-size: 1.5em;
  margin: 0 5px 0 0;
}
.categoryTitle{
  display: flex;
  flex-flow: column;
  h3{
    font-weight : bold;
    font-size: 2em;
    color: #bb4e0b;
  }
  padding : 5px;
  justify-content: center;
  width : 100%;
}

.seller-page-productList{
  grid-row: 3;
  grid-column: span 5;
  display: grid;
  row-gap: 2em;
  padding: 20px 0;
  border-top: #bb4e0b solid 5px;
}
.seller-page-productList-cards{
  display: flex;
  flex-flow: column wrap;
}
.seller-page-product-cards__category{
  font-size: 25px;
  margin-bottom: 20px;
  width:100%;
  padding-bottom: 10px;
  border-bottom:dashed 2px #bb4e0b;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .seller{
    width : 100%;
  }
  .sellerBox {
    border-radius:0px;
    width : 100%;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1410px) {
  .seller{
    &::-webkit-scrollbar {
    }
    &-page {
      &__name {
        & h2 {
        }
      }
      &__resume {
      }
      &__rate {
      }
      &__tag{
        & ul {
        }
      }
      &__info {
        & span {
        }
      }
    }
  }
  .sellerGrid {
  }
  .sellerContainer {
  }
  .sellerBox {
  }
  .sellerTitle {
  }

  .iconify{
  }
  .seller-page-productList{
  }
  .seller-page-productList-cards{
    flex-flow: row wrap;
  }
  .seller-page-product-cards__category{
  }


}