@import "../Utils/mixin";
@import "../Utils/variables";

.mainContainer {
  @include flexBoxColumnFlexStart;
  align-items: center;
  padding-top: 15px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}
.accountContainer {
  @include flexBoxColumn;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color:$breakingWhite;
  overflow-y: auto;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}