{% extends "layoutMapAndMenu.html.twig" %}

{% block connectionBlock %}

    <form method="post" action="/?controller=user&action=login">
        <label>Email</label>
        <input type="text" name="connMail" required>

        <label>Password</label>
        <input type="password" name="connPWD" required>

        {#<label>Role</label>
        <input type="text" name="txt_role" required>#}

        <button type="submit" name="okButton">Se connecter</button>

    </form>
{% endblock %}