{% extends "layoutMapAndMenu.html.twig" %}

{% block connectionBlock %}

    <div class="connectionContainer">
        <div class="connBox">
            <div class="titleBox">
                <h2>Se connecter</h2>
            </div>
            <div class="formBox">
                <form method="post" action="">
                    <div class="itemConnBox">
                        <label>
                            <input type="email" name="connMail" placeholder="votre e-mail">
                        </label>
                    </div>
                    <div class="itemConnBox">
                        <label>
                            <input type="password" name="connPWD" placeholder="votre mot de passe">
                        </label>
                    </div>
                    <div class="valBox">
                        <button type="button" name="okButton">se connecter</button>
                    </div>
                </form>
            </div>
            <div class="linkBox">
                <div class="signUpBox">
                    <a href="">s'enregistrer</a>
                </div>
                <div class="forgetPasswdBox">
                    <a href="">j'ai oublié mon mot de passe</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}