@import "./Utils/variables";
@import "./Base/bodyStyle";
@import "./Utils/mixin";

.buttons{
  display:flex;
  flex-flow: row wrap;
  .iconify{
    color:#bb4e0b;
    margin: 0px 10px;
    font-size: 3em;
  }
}
input, textarea{
  border-radius : 5px;
  padding : 5px;
  margin: 5px;
  font-family: Roboto;
}
textarea {
  border-radius : 5px;
  width: 100%;
}
.seller-page__info>ul{
  flex-flow: column wrap;
}

.heading{
  display: block;

  &.h2{
    height: auto;
    font-size: 1.5em;
    width: 50%;
  }
  &.h3{
    font-size: 1.17em;

  }
}
.headConnection {
  @include flexBoxRow;
  width: 100%;
  height: auto;
}
.crossCloseBox {
  @include flexBoxRowJustifyCentering;
  align-items: start;
  width: 20%;
  height: auto;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .buttons{
    flex-flow: column;
  }
  .heading{

    &.h2{
      width: 100%;
    }}
}

