.heading{
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;

  .h2{
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
  }
  .h3{
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}