<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S'inscrire</title>
    <link rel="stylesheet" type="text/css" href="register.css">
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</head>

<body>
<header>
    <div class="burgerMenu">
        <a href="/" class="iconify" data-inline="false" data-icon="cil:hamburger-menu" style="color: #6b8954; font-size: 35px;"></a>
    </div>
    <div class="homeMenu">
        <a href="/" class="iconify" data-inline="false" data-icon="ant-design:home-filled" style="color: #bb4e0b; font-size: 30px;"></a>
    </div>
    <div class="basketMenu">
        <a href="/" class="iconify" data-inline="false" data-icon="fa:shopping-basket" style="color: #bb4e0b; font-size: 30px;"></a>
    </div>
    <div class="myAccount">
        <a href="/" class="iconify" data-inline="false" data-icon="carbon:user-avatar-filled" style="color: #bb4e0b; font-size: 30px;"></a>
    </div>
</header>
<div id="registerView">
    <div class="title">
        <h1>Inscription</h1>
    </div>
    <div class="formRegister">
        <form class="registerForm">
            <input type="text" class="name" value="Nom">
            <input type="text" class="surname" value="Prénom">
            <input type="text" class="pseudo" value="Pseudonyme">
            <input type="text" class="adress" value="Adresse(numéro de voirie, rue, etc.)">
            <input type="text" class="postCode" value="Code Postale">
            <input type="text" class="city" value="Ville">
            <input type="email" class="eMail" value="E-mail">
            <input type="password" class="password" value="Mot de passe">
            <input type="password" class="passwordVerif" value="Confirmation de votre mot de passe" >
        </form>
    </div>
    <div class="title">
        <h2>Quelle Karotte êtes-vous ?</h2>
    </div>
    <div class="btnChoice">
        <input type="button" class="prod" value="Productrice">
        <input type="button" class="citoyen" value="Citoyenne">
    </div>
    <div class="cguBox">
        <input type="checkbox" class="check">
        <p class="msg">J'ai lu et j'accepte les <a href="/">conditions générales d'utilisation</a>.</p>
    </div>
    <div class="join">
        <input type="button" class="btnJoin" value="Rejoindre la botte">
    </div>
</div>
</body>
</html>