$primaryColor:#BB4E0B;
$secondColor:#6B8954;
$thirdColor:#B0FBD0;
$breakingWhite: #FBFCFC;


//variables about the font-size
$mainSize:14px;
$titleSizeHandy:1.4em;
$bigButtonFont: 1.2em;
$veryHighTextSize:1.8em;


//variables about height size
$shortHandySize:25px;
$mediumHandySize:35px;
$highHandySize:50px;
$shortScreenSize:75px;
$mediumScreenSize:100px;
$highScreenSize:120px;
$superHighScreenSize:150px;


//variables about size of input
$halfWidthSize:50%;
$highWidthSize:85%;
$veryHighWidthSizePX:50px;
$ultraHighScreenWidthSize: 500px;
$highScreenWidthSize: 250px;
$mediumScreenWidthSize: 185px;
$smallScreenWidthSize: 150px;

//variables about button sizing
$shortHandyButton:150px;
$shortScreenButton:350px;

//variables about border-radius
$quarterRadius:45px;